*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.container {
    display: flex;
}


.sidebar{
    background: #800000;;
    color: #fff;
    position: fixed;
    height: 88.2vh;
    margin-top: 6rem;
    padding-top: 20px;
}

.top_section{
    display: flex;
    align-items: center;
    padding: 0px 100px;
}

.link {
    display: flex;
    color: #fff;
    padding: 10px 15px;
    gap: 15px;
    line-height: 2rem;
    transition: all 0.5s;
}

.link:hover{
    background: #FFDB58;
    color: #000;
    transition: all 0.5s;
}

.active{
    background: #FFDB58;
    color: #000;
}

.bottom_section{
    padding-top: 20rem;
}
.auth-multi-layout {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.auth-box {
    width: 400px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 7px 29px 0px rgb(100, 100, 111, 0.25);
}
.auth-header {
    padding: 1.4rem 1.5rem 0.5rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.auth-header-logo-img {
    width: 200px;
}
.auth-header-title {
    font-size: 25px;
    font-weight: 800;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 10px;
    color: #212529;
    margin-bottom: 0;
}
.auth-header-subtitle {
    font-size: 15px;
    margin-bottom: 0;
    margin-top: 10px;
    color: #6c757d;
    font-family:Arial, Helvetica, sans-serif
}
.auth-body {
    padding: 0.5rem 3rem 1.5rem 1.5rem;
}
.input-field {
    position: relative;
    width: 100%;
    margin-bottom: 15px;
    margin-right: 100px;
}
.input-label {
    display: flex;
    color: #6c757d;
}
.input-control {
    display: block;
    width: 100%;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #8e8e97;
    padding: 0.25rem 0.67rem;
    outline: none;
    transition: border 0.1s ease-in, box-shadow 0.15s ease-in;
}
.input-control::placeholder{
    transition: transform 0.1s ease-in;
}
.input-control:focus::placeholder{
    transform: translateX(5px);
}
.error-msg {
    color: red;
    font-size: 13px;
    margin-top: 2px;
}
