
.title {
  color: black;
  text-align: center;
  margin-bottom: 1rem;
  font-size: 25px;
  font-family: var(--font-family);
}

.title p {
  font-size: 18px;
}

.h3class {
  color: black;
  text-align: left;
}

.here {
  background: none;
  border: 0;
  color: #FFDB58;
  cursor: pointer;
}

.subtitle {
  color: black;
  text-align: left;
  margin-top: 1rem;
  display: flex;
  font-size: 18px;
}

.inputs_container {
  display: flex;
  flex-direction: column;
}

.textfield {
  width: 100%;
  background-color: white;
}

.login_button {
  display: block;
  margin: 1rem auto 1rem auto;
  width: 100%;
  padding: 0.75rem 1rem;
  outline: 0;
  font-size: 1rem;
  font-family: inherit;
  cursor: pointer;
  background-color: maroon;
  color: white;
  border: 2px solid transparent;
  font-family: var(--font-family);
}

.google_button {
  display: flex;
  padding: 0.8rem 1rem;
  width: 100%;
  outline: 0;
  font-size: 1rem;
  font-family: inherit;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid transparent;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family);
}

.bottom-button {
  display: block;
  margin: 1rem auto 1rem auto;
  width: 100%;
  padding: 0.75rem 1rem;
  outline: 0;
  font-size: 1rem;
  font-family: inherit;
  cursor: pointer;
  background-color: maroon;
  color: white;
  border: 2px solid transparent;
  border-radius: 5px;
}

.bottom-button:hover {
  border: 2px solid maroon;
  background-color: darkred;
}

.login_button:hover {
  border: 2px solid maroon;
  background-color: darkred;
  color: white;
}

.google_button:hover {
  border: 1px solid darkgrey;
  background-color: whitesmoke;
}

.google_button {
  background-color: #fff;
  color: black;
  border: 1px solid;
}

.link_container {
  justify-content: right;
}

.small {
  color: rgb(218, 218, 218);
  text-align: right;
  font-size: 0.85rem;
  text-decoration: underline;
  cursor: pointer;
}
.hau-signup {
  color: white;
  text-align: center;
  font-size: 0.90rem;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.icon {
  color: white;
  cursor: pointer;
}

.error_msg {
  color: red;
  padding-left: 0.5rem;
  font-size: 0.85rem;
  margin: 0;
}
.bottom-line{
  margin-top: 2rem;
}

@media only screen and (max-width: 620px) {
  .inputs_container input {
    width: 100%;
  }

  .login_button {
    width: 100%;
  }

  .error_msg {
    padding-left: 0.2rem;
  }
}

@media only screen and (max-height: 670px) {
  .subtitle {
    margin-bottom: 2rem;
  }

  .small {
    margin-bottom: 3rem;
  }
}
.auth{
  width: 90%;
  max-width: 400px;
  border: 1px solid #dcdcdc;
  padding: 20px;
  text-align: center;
}

.auth form{
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0 auto 10px auto;
}

.auth__success{
  padding: 10px 0;
  background-color: hsl(147, 79%, 87%);
  margin-bottom: 20px;
}

.auth__error{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  margin-bottom: 8px;
  border: 1px solid red;
  border-radius: 4px;
}

.signup-inputs_container {
  display: flex;
  flex-direction: column;
}

.or {
  background-color: whitesmoke;
}

.error-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  margin-bottom: 8px;
  border: 1px solid red;
  border-radius: 4px;
}

.error-message {
  flex-grow: 1;
  margin-right: 8px;
}

.close-button {
  font-weight: bold;
  background-color: white;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.mobile {
      background-color: white;
        color: black;
        font-size: 45px;
        justify-content: center;
        align-items: center;
        display: flex;
        height: 90vh;
        text-align: center;
}