.application-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

@media (min-width: 1024px) {
    .application-container {
        margin: auto;
        width: 70%;
    }
}

@media (min-width: 1280px) {
    .application-container {
        margin-left: 9rem;
    }
}

@media (min-width: 1366px) {
    .application-container {
        margin-left: 7rem;
        width: 85%;
    }
}

@media (min-width: 1440px) {
    .application-container {
        margin-left: 10rem;
        width: 85%;
    }
}

@media (min-width: 1600px) {
    .application-container {
        width: 100%;
        margin: auto;
    }
}

@media (min-width: 1920px) {
    .application-container {
        width: 100%;
        margin-left: 10rem;
    }
}

@media (min-width: 2560px) {
    .application-container {
        width: 100%;
        margin-left: 28rem;
    }
}