.card {
  width: 400px;
  background-color: maroon;
  padding: 2rem;
  margin: 2rem;
  box-shadow: 0px 7px 29px 0px rgb(100, 100, 111, 0.25);
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 620px) {
  .card {
    width: 90vw;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media only screen and (max-height: 670px) {
  .card {
    height: 650px;
  }
}