.assigned {
    margin-left: 10rem;
}

@media (min-width: 1024px) {
    .assigned {
        margin-left: 1.2rem;
        width: 90%;
    }
}

@media (min-width: 1280px) {
    .assigned {
        margin-left: 2rem;
        width: 90%;
        margin-bottom: 5rem;
    }
}

@media (min-width: 1366px) {
    .assigned {
        margin-left: 4.5rem;
        width: 90%;
    }
}

@media (min-width: 1440px) {
    .assigned {
        margin-left: 3.6rem;
        width: 100%;
        margin-top: 4rem;
    }
}

@media (min-width: 1600px) {
    .assigned {
        margin-left: 1rem;
        width: 100%;
    }
}

@media (min-width: 1920px) {
    .assigned {
        margin-left: 12rem;
        width: 100%;
        margin-bottom: 20rem;
    }
}

@media (min-width: 2560px) {
    .assigned {
        margin-left: 30rem;
        width: 100%;
        margin-bottom: 45rem;
    }
}