*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.hau_navbar{
    display:flex;
    align-items: center;
    padding: 2rem;
    background-color: white;
    justify-content: space-between;
    top: 0;
    width: 100%;
    padding: 30px 10px;
    position: fixed;
    border-bottom-style: solid;
    border-color: #800000;
    border-top: 0;
    border-right: 0;
    border-left:0;
    border-width: 15px;
}
.hau_navbar-links_logo img{
    width: 140px;
    height: 45px;
}
.hau_navbar-links_logo {
    display:flex;
    flex-direction: row;
}

.menu-trigger img {
    position: flex;
    height: 30px;
    width: 30px;
    margin-right: 20px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    top: 80px;
    right: 20px;
    background-color: white;
    padding: 10px 30px;
    width: 200px;
    border-radius: 8px;
    border: 1px solid gray;
}

.dropdown-menu::before{
    content: '';
    position: absolute;
    top: -0.7rem;
    right: 20px;
    height: 20px;
    width: 20px;
    background-color: white;
    transform: rotate(45deg);
    border-left: 1px solid gray;
    border-top: 1px solid gray;
}

h3 {
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2rem;
}

h3 span{
    font-size: 14px;
    font-weight: 400;
}

.dropdown-menu ul li {
    padding: 10px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.dropdown-menu ul li:hover a {
    color: rgb(212, 33, 9);
    cursor: pointer;
}

.dropdown-menu ul li:hover img {
    opacity: 1;
    cursor: pointer;
}

.dropdownItem {
    display: flex;
    margin: 10px auto;
}

.dropdownItem img {
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: var(--speed);
}

.dropdown-menu.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: var(--speed) ease;
}

.dropdown-menu.inactive {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: var(--speed) ease;
}

/* @media screen and (max-width: 768px) {
  .hau_navbar {
    display: none;
  }
} */