.edit-btn{
    background-color:maroon; 
    border-radius: 12px;
    color: white;
    padding: 14px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px; 
    text-align: center;
    
}
.delete-btn{
    background-color:maroon; 
    border-radius: 12px;
    color: white;
    padding: 14px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px; 
    text-align: center;
}
.cancel-btn{
    background-color:maroon; 
    border-radius: 12px;
    color: white;
    padding: 14px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px; 
    text-align: center;
}
.save-btn{
    background-color:maroon; 
    border-radius: 12px;
    color: white;
    padding: 14px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px; 
    
}

