.inbox-datatable {
    margin-left: 15rem;
    margin-top: 1rem;
}

@media (min-width: 1280px) {
    .inbox-datatable {
        margin-left: 16rem;
        width: 70%;
    }
}

@media (min-width: 1366px) {
    .inbox-datatable {
        margin-left: 13rem;
        width: 85%;
    }
}

@media (min-width: 1440px) {
    .inbox-datatable {
        margin-left: 13rem;
        width: 90%;
    }
}

@media (min-width: 1600px) {
    .inbox-datatable {
        margin-left: 13.4rem;
        width: 85%;
    }
}

@media (min-width: 1920px) {
    .inbox-datatable {
        margin-left: 16.5rem;
        width: 100%;
    }
}

@media (min-width: 2560px) {
    .inbox-datatable {
        margin-left: 35rem;
        width: 100%;
    }
}