@media (min-width: 1366px) {
    .reviewerdashboard {
        margin-left: 2rem;
    }
}

@media (min-width: 1440px) {
    .reviewerdashboard {
        margin-left: 7rem;
    }
}

@media (min-width: 1600px) {
    .reviewerdashboard {
        margin-left: 2rem;
    }
}

@media (min-width: 1920px) {
    .reviewerdashboard {
        margin-left: 21rem;
    }
}

@media (min-width: 2560px) {
    .reviewerdashboard {
        margin-left: 57rem;
    }
}