

@media (min-width: 1024px) {
    .reviewerdashboard {
        margin-bottom: 15rem;
    }
}
@media (min-width: 1280px) {
    .reviewerdashboard {
    }
}

@media (min-width: 1366px) {
    .reviewerdashboard {
        margin-left: 3.5rem;
    }
}

@media (min-width: 1440px) {
    .reviewerdashboard {
        margin-left: 6rem;
    }
}

@media (min-width: 1600px) {
    .reviewerdashboard {
        margin-left: 1rem;
        margin-bottom: 10rem;
    }
}

@media (min-width: 1920px) {
    .reviewerdashboard {
        margin-left: 19rem;
        margin-bottom: 40rem;
    }
}

@media (min-width: 2560px) {
    .reviewerdashboard {
        margin-left: 44rem;
        margin-bottom: 55rem;
    }
}