@media (min-width: 1024px) {
    .reviewerdashboard {
        margin-left: 8.4rem;
        width: 50%;
    }
}
@media (min-width: 1280px) {
    .reviewerdashboard {
        margin-left: 10.4rem;
        width: 70%;
    }
}

@media (min-width: 1366px) {
    .reviewerdashboard {
        margin-left: 13rem;
    }
}

@media (min-width: 1440px) {
    .reviewerdashboard {
        margin-left: 16rem;
    }
}

@media (min-width: 1600px) {
    .reviewerdashboard {
        margin-left: 15rem;
    }
}

@media (min-width: 1920px) {
    .reviewerdashboard {
        margin-left: 21rem;
    }
}

@media (min-width: 2560px) {
    .reviewerdashboard {
        margin-left: 43rem;
    }
}