body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal, .overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
    position: fixed;
    display: flex;
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 50px 28px;
    border-radius: 3px;
    max-width: 1500px;
    min-width: 98px;
    font-size: 10px;
    border: 2px solid;
    max-height: 60vh;
    overflow-y: scroll;
}

.modal-content p {
    font-size: 15px;
    margin-top: 2rem;
}

.continue-button {
    position: absolute;
    right: 1rem;
    border: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: maroon;
    cursor: pointer;
    padding: 10px 29px;
    color: white;
    border-radius: 5px;
    transition-duration: 0.4s;
}

.close-modal {
    position: absolute;
    border: none;
    margin-left: 32rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: gray;
    cursor: pointer;
    padding: 10px 29px;
    color: white;
    border-radius: 5px;
}
.ir-modal-content {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    line-height: 1.5;
    background: #f1f1f1;
    padding: 50px 28px;
    border-radius: 3px;
    max-width: 700px;
    min-width: 800px;
    font-size: 10px;
    border: 2px solid;
    max-height: 50vh;
    overflow-y: scroll;
}

.cr-modal-content {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    line-height: 1.5;
    background: #f1f1f1;
    padding: 50px 28px;
    border-radius: 3px;
    max-width: 1500px;
    min-width: 800px;
    font-size: 15px;
    border: 2px solid;
    max-height: 50vh;
    overflow-y: scroll;
}

.RED {
    color: red;
}

.ir-modal-content p {
    font-size: 15px;
    margin-top: 1rem;
}

.ir-close-modal {
    position: absolute;
    border: none;
    margin-left: 32rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: gray;
    cursor: pointer;
    padding: 10px 29px;
    color: white;
    border-radius: 5px;
}