*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    width: 100%;
    margin-left: 15rem;
    margin-top: 5rem;
}

.db-containers {
    justify-content: center;
    margin-top: 5rem;
    width: 100%;
    height: 100%;
    margin-left: 10rem;
    align-items: center;
}

/* .db-logo-container{
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
} */

.db-ir{
    width: 70%;
    height: 100px;
    cursor: pointer;
    background-color: white;
    color: black;
    outline: 0;
    border-color: #800000;
    margin-top: 4rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-style: solid;
    border-width: 3px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.db-cr{
    width: 70%;
    height: 100px;
    cursor: pointer;
    background-color: white;
    color: black;
    outline: 0;
    border-color: #800000;
    margin-top: 3rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-style: solid;
    border-width: 3px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.db-fr{
    width: 70%;
    height: 100px;
    cursor: pointer;
    background-color: white;
    color: black;
    outline: 0;
    border-color: #800000;
    margin-top: 3rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-style: solid;
    border-width: 3px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.db-ir:hover{
    border: 2px solid black;
    background-color: #800000;
}
.db-cr:hover{
    border: 2px solid black;
    background-color: #800000;
}
.db-fr:hover{
    border: 2px solid black;
    background-color: #800000;
}

.db-title {
    text-align: center;
}


.ir-title {
    margin-top: 4rem;
}

@media (max-width: 1700px) {
    .db-containers{
        margin-left: 0.5rem;
    }
}


@tailwind base;
@tailwind components;
@tailwind utilities;