*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    margin-top: 5rem;
    width: 100%;
    height: 100%;
}

.db-containers {
    justify-content: center;
    margin-top: 5rem;
    height: 100%;
    align-items: center;
}

.db-ir{
    width: 70%;
    height: 100px;
    cursor: pointer;
    background-color: white;
    color: black;
    outline: 0;
    border-color: #800000;
    margin-top: 4rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-style: solid;
    border-width: 3px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.db-cr{
    width: 70%;
    height: 100px;
    cursor: pointer;
    background-color: white;
    color: black;
    outline: 0;
    border-color: #800000;
    margin-top: 3rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-style: solid;
    border-width: 3px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.db-fr{
    width: 70%;
    height: 100px;
    cursor: pointer;
    background-color: white;
    color: black;
    outline: 0;
    border-color: #800000;
    margin-top: 3rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-style: solid;
    border-width: 3px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.db-ir:hover{
    border: 2px solid black;
    background-color: #800000;
}
.db-cr:hover{
    border: 2px solid black;
    background-color: #800000;
}
.db-fr:hover{
    border: 2px solid black;
    background-color: #800000;
}

.db-title {
    text-align: center;
}


.ir-title {
    margin-top: 4rem;
}

@media (max-width: 1700px) {
    .db-containers{
        margin-left: 0.5rem;
    }
    .db-bg {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 13rem;
    }
    .card-item {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 1440px) {
    .db-containers {
        margin-left: 5rem;
    }
    .card-item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        text-align: center;
    }
}

@media (min-width: 1366px) {
    .db-containers {
        margin-left: 0.5rem;
    }
}

@media (min-width: 1440px) {
    .db-containers {
        margin-left: 5rem;
    }
}

@media (min-width: 1600px) {
    .db-containers {
        margin-left: 5rem;
    }
}

@media (min-width: 1920px) {
    .db-containers {
        margin-left: 34rem;
        width: 100%;
    }

    .card-item {
        gap: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (min-width: 2560px) {
    .db-containers {
        margin-left: 74rem;
        width: 100%;
        display: block;
        align-items: center;
        justify-content: center;
    }
}

@tailwind base;
@tailwind components;
@tailwind utilities;