.reviewdatatable {
    width: 90%;
    margin-left: 15rem;
}

@media (min-width: 1024px) {
    .reviewdatatable {
        margin-left: 15.5rem;
        width: 65%;
    }
}

@media (min-width: 1280px) {
    .reviewdatatable {
        margin-left: 16rem;
        width: 70%;
    }
}

@media (min-width: 1366px) {
    .reviewdatatable {
        margin-left: 13rem;
        width: 85%;
    }
}

@media (min-width: 1440px) {
    .reviewdatatable {
        margin-left: 13.2rem;
        width: 90%;
    }
}


@media (min-width: 1600px) {
    .reviewdatatable {
        margin-left: 13.5rem;
        width: 85%;
    }
}

@media (min-width: 1920px) {
    .reviewdatatable {
        margin-left: 16.2rem;
        width: 100%
    }
}

@media (min-width: 2560px) {
    .reviewdatatable {
        margin-left: 35.2rem;
        width: 100%
    }
}