.reviewdatatable {
    margin-left: 10rem;
}

@media (min-width: 1024px) {
    .reviewdatatable {
        margin-left: 1rem;
        width: 90%;
    }
}

@media (min-width: 1280px) {
    .reviewdatatable {
        margin-left: 2rem;
        width: 90%;
    }
}

@media (min-width: 1366px) {
    .reviewdatatable {
        margin-left: 1.5rem;
        width: 100%;
    }
}

@media (min-width: 1440px) {
    .reviewdatatable {
        margin-left: 4rem;
        width: 100%;
    }
}


@media (min-width: 1600px) {
    .reviewdatatable {
        margin-left: 1rem;
        width: 100%;
    }
}

@media (min-width: 1920px) {
    .reviewdatatable {
        margin-left: 11rem;
        width: 100%;
        margin-bottom: 15rem;
    }
}

@media (min-width: 2560px) {
    .reviewdatatable {
        margin-left: 29rem;
        width: 100%;
        margin-bottom: 35rem;
    }
}