.user-containers{
    margin-top: 5rem;
}

.tablecont {
    margin-top: 5rem;
}

.add-btn{
        position: absolute;
        right: 267px;
        background-color:maroon; 
        border-radius: 12px;
        color: white;
        padding: 14px 40px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        align-items: center;
}

.user-table{
    margin-top: 5% ;
    margin-right: 100px;
    margin-left: 100px;
    border: 2px solid #000000;
}






