*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.input-field {
    position: relative;
    width: 100%;
    margin-bottom: 15px;
    margin-right: 100px;
}
.input-label {
    display: flex;
    color: #6c757d;
}
.input-control {
    display: block;
    width: 100%;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #8e8e97;
    padding: 0.25rem 0.67rem;
    outline: none;
    transition: border 0.1s ease-in, box-shadow 0.15s ease-in;
}
.input-control::placeholder{
    transition: transform 0.1s ease-in;
}
.input-control:focus::placeholder{
    transform: translateX(5px);
}
.error-msg {
    color: red;
    font-size: 13px;
    margin-top: 2px;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
