:root {
  --speed: 500ms;
  --bodyColor: white;
}

body {
  margin: 0;
  font-family:"ColfaxAI",-apple-system,BlinkMacSystemFont,Helvetica,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url("./assets/bg.jpg"); */
   height: 100%;
   background-color: var(--bodyColor);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
